* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    max-width: 1600px;
    margin: 0 auto;
}
.wrapper {
    max-width: 940px;
    margin: 0 auto;
    padding: 0;
}
h1 {
    color: #ffffff;
    font-family: 'Playfair Display', Arial, serif;
    font-size: 32px;
    font-weight: 800;
    letter-spacing: 0.32px;
}
h2 {
    color: #413d4b;
    font-family: 'Playfair Display', Arial, serif;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.1px;
}

/*buttons*/
.button {
    display: inline-block;
    vertical-align: middle;
    height: 40px;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-family: 'Hammersmith One', Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    padding: 11px;
}
.button:hover {
    color: #00e0d0;
    border: 1px solid #00e0d0;
}

/* header*/
header {
    height: 670px;
    background: linear-gradient(
                rgba(46, 40, 80, 0.8),
                rgba(46, 40, 80, 0.8)),
                url("../img/background/header_background.jpg") no-repeat center top;
}
.headerNavbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
    margin: 0 15px;
}
.headerNavbar__logo {
    display: flex;
    align-items: center;
}
.headerNavbar__logo img {
    margin-right: 11px;
}
.menu {
    list-style: none;
    display: flex;
}
.menu__item {
    margin-left: 25px;
}
.menu__item a{
    text-decoration: none;
}
.menu__link {
    color: #ffffff;
    font-family: "Roboto - Black", Arial, sans-serif;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}
.menu__link:hover {
    color: #00e0d0;
}

.burgerMenu {
    display:none;
    padding: 5px 15px;
    border: 1px solid grey;
}

.headerContent {
    text-align: center;
    max-width: 770px;
    margin: 0 auto;
    margin-top: 160px;
    margin-bottom: 70px;

}
.headerContent__title {
    position: relative;
}
.headerContent__title:after {
    content: '';
    display: block;
    width: 50px;
    height: 1px;
    background-color: #00e0d0;
    position: absolute;
    left: 47%;
    bottom: -20px;
}
.headerContent__text {
    color: #ffffff;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.7px;
    margin: 52px 0;
}
.headerContent__circle{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 125px;
}
.circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid white;
    margin-left: 5px;
}
.circle:first-child {
    background: #00e0d0;
}

/* about */
.about {

}
.aboutTitle {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    margin-bottom: 70px;
}
.aboutTitle__logo {
    width: 100%;
    margin-right: 90px;
}
.aboutTitle__desc p {
    opacity: 0.75;
    color: #413d4b;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    letter-spacing: 0.42px;
    margin-top: 28px;
}
.aboutTitle__desc a {
    color: #333333;
    opacity: 0.75;
    border: 1px solid #333333;
    margin-top: 46px;
}
.aboutVideo {
    height: 550px;
    background: linear-gradient(
            rgba(46, 40, 80, 0.8),
            rgba(46, 40, 80, 0.8)),
    url("../img/background/about_background.jpg") no-repeat center top;
    display: flex;
    align-items: center;
}
.aboutVideo__button {
    width: 100px;
    margin: 0 auto;
    margin-bottom: 34px;
}
.aboutVideo p {
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.8px;
}

/* expertise */
.expertise {
    height: 755px;
}
.expertiseTitle {
    position: relative;
    text-align: center;
    margin-top: 70px;
}
.expertiseTitle:after {
    content: '';
    display: block;
    width: 50px;
    height: 2px;
    background-color: #413d4b;
    opacity: 0.3;
    position: absolute;
    left: 47%;
    top: 95px;
}
.expertiseTitle h2 {
}
.expertiseTitle p {
    opacity: 0.75;
    color: #2f2d35;
    font-family: 'Playfair Display', Arial, serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1.05px;
    margin-top: 16px;
}

.expertiseContent {
    max-height: 500px;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}
.expertiseContent__top {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 50%;
}
.expertiseContent__bottom {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 50%;
}

.expertiseTable {
    max-width: 254px;
    max-height: 178px;
    text-align: center;
    margin: 39px 33px;
}
.expertiseTable h3 {
    color: #413d4b;
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    margin-top: 35px;
    margin-bottom: 25px;
}
.expertiseTable p {
    opacity: 0.75;
    color: #333333;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    letter-spacing: 0.7px;
}
.expertiseTable img {
    height: 50px;
    width: auto;
}

/* teams */
.teams {
    height: 712px;
    background: linear-gradient(
            rgba(46, 40, 80, 0.8),
            rgba(46, 40, 80, 0.8)),
    url("../img/background/teams_background.jpg") no-repeat center top;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.teamsContent {
    text-align: center;
    margin: 70px 0 70px;
}
.teamsContent h2 {
    color: #ffffff;
    margin-bottom: 16px;
}
.teamsContent p {
    color: #f9f9f9;
    font-family: 'Playfair Display', Arial, serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1.05px;

}

.teamsContent__card {
    max-width: 940px;
    display: flex;
    margin-top: 67px;
    position: relative;
}
.teamsContent__card:before {
    content: '';
    display: block;
    width: 50px;
    height: 2px;
    background-color: #f9f9f9;
    opacity: 0.3;
    position: absolute;
    left: 47%;
    top: -50px;

}

.teamMember {
    max-width: 220px;
    height: 308px;
    margin: 10px;
    border: 1px solid #D3D3D3;
    text-align: center;
}
.teamMember img {
    width: 100%;
    height: 229px;
    object-fit: cover;
    object-position: 0 0;
}
.teamMember h3 {
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    margin-top: 23px;
}
.teamMember p {
    opacity: 0.7;
    color: #fafafa;
    font-size: 13px;
    font-weight: 300;
    text-transform: uppercase;
}

.teamsContent__footer {
    color: #f3f3f3;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.7px;
    margin-top: 50px;
    margin-bottom: 26px;
}

/* works */
.works {
    height: 597px;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    }
.worksTitle {
    display: flex;
    width: 58%;
    align-items: flex-end;
    justify-content: space-between;
}
.worksContent {
    width: 100%;
    max-height: 400px;
    display: flex;
    flex-direction: column;
    margin-top: 71px;
}
.worksContent__top {
    display: flex;
    height: 50%;
    margin-bottom: 2px;
}
.worksContent__bottom {
    display: flex;
    height: 50%;
}
.works__photo {
    width: 16.666%;
    height: 100%;
    margin: 1px;
    transition: transform .2s;
}
.works__photo:hover {
    transform: scale(1.5);
}
.works__photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 0;
    border-radius: 3px;
}
.works .button {
    color: #333333;
    opacity: 0.75;
    border: 1px solid #333333;
    margin: 70px 0 70px;
}
.works .button:hover {
    color: #00e0d0;
    border: 1px solid #00e0d0;
}

/* peopleSay */
.peoplesay {
    height: 500px;
    background: linear-gradient(
            rgba(46, 40, 80, 0.8),
            rgba(46, 40, 80, 0.8)),
    url("../img/background/peoplesay_background.jpg") no-repeat center top;
    display: flex;
    justify-content: center;
}

.peoplesayContent {
    max-width: 770px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 69px 20px 0;

}
.peoplesayContent-top {
    width: 32px;
    margin-bottom: 32px;
}
.peoplesayContent__text {
    width: 100%;
    text-align: center;
}
.peoplesayContent__text p {
    opacity: 0.85;
    color: rgba(255, 255, 255, 0.69);
    font-family: 'Playfair Display', Arial, serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.4px;
    margin-bottom: 52px;
}
.peoplesayContent__text h3 {
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    text-transform: uppercase;
    letter-spacing: 0.7px;
}
.peoplesayContent__text h4 {
    opacity: 0.7;
    color: rgba(255, 255, 255, 0.48);
    font-size: 13px;
    font-weight: 300;
    line-height: 22px;
    text-transform: uppercase;
    margin-top: 13px;
}

.peoplesayContent__people {
    max-width: 390px;
    height: 70px;
    display: flex;
    align-items: center;
    margin-top: 45px;
}
.photoCard {
    margin: 7px;
}

/* contact */
.contact {
    height: 654px;
    display: flex;
    justify-content: center;
}
.contactContent {
    max-width: 941px;
    display: flex;
    margin: 72px 20px 0;
}
.contactContent__form {
    width: 50%;
}

form h2 {
    margin-left: 8px;
    margin-bottom: 35px;
}
form .row {
    display: block;
    padding: 7px 8px;
    margin-bottom: 7px;
}
form .txt {
    display: inline-block;
    padding: 8px 9px;
    width: 95%;
    font-size: 14px;
    font-weight: 300;
    color: #898989;
}
form .txtarea{
    display: inline-block;
    padding: 8px 9px;
    width: 95%;
    height: 200px;
    font-size: 14px;
    font-weight: 300;
    color: #898989;
}
form #submitbtn {
    width: 120px;
    height: 40px;
    margin-left: 8px;
    background-color: transparent;
    border: 1px solid #333333;
    border-radius: 3px;
    color: #333333;
    font-family: 'Hammersmith One', Arial, sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}
form #submitbtn:hover {
    border: 1px solid #00e0d0;
    color: #00e0d0;
}

.contactContent__client {
    width: 40%;
    max-height: 470px;
    display: flex;
    flex-direction: column;
    margin-left: 75px;
}
.contactContent__client h2 {
    margin-bottom: 47px;
}
.clientLogo {
    display: flex;
    justify-content: space-between;
    height: 100%;
}
.clientLogo__left {
    display: flex;
    width: 47%;
    flex-direction: column;
    justify-content: space-around;
}
.clientLogo__right {
    display: flex;
    width: 47%;
    flex-direction: column;
    justify-content: space-around;
}

/* footer */
footer {
    background: linear-gradient(
            rgba(46, 40, 80, 0.8),
            rgba(46, 40, 80, 0.8)),
    url("../img/background/footer_background.jpg") no-repeat center top;
    height: 400px;
    display: flex;
    justify-content: center;

}
.footerContent {
    max-width: 939px;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 70px;
    margin-left: 25px;
    margin-right: 10px;
}
.footerContent__items {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 166px;

}
.footerSubtitle {
    color: #ffffff;
    font-size: 15px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 0.75px;
}

.itemsLeft {
    display: flex;
    width: 30%;
    flex-direction: column;
    margin-right: 20px;
}
.itemsLeft__top img {
    width: 128px;
    margin-bottom: 27px;
}
.itemsLeft__bottom p {
    color: rgba(255, 255, 255, 0.59);
    font-size: 14px;
    font-weight: 300;
    line-height: 26px;
    letter-spacing: 0.35px;
}

.itemsCenter {
    width: 33.3%;
    margin-top: 13px;
    display: flex;
    flex-direction: column;
}
.itemsCenter img {
    width: 14px;
    height: 19px;
    margin-right: 16px;
}
.itemsCenter__center {
    display: flex;
    flex-direction: row;
    margin-top: 42px;
}
.contactAdress {
    color: rgba(255, 255, 255, 0.59);
    font-size: 14px;
    font-weight: 300;
    line-height: 26px;
    letter-spacing: 0.35px;
}
.itemsCenter__bottom {
    display: flex;
    margin-top: 10px;
}

.itemsRight {
    width: 33.3%;
    height: 166px;
    margin-top: 13px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.itemsRight__top {

}
.itemsRight__center {
    display: flex;
    flex-direction: row;
    margin-top: 39px;
}

/*footer form*/
#footerSubscribe {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
form .subscribeRow {
    width: 100%;
    display: block;
    margin-bottom: 7px;
    margin-right: 10px;
}
form .subscribetxt {
    display: inline-block;
    width: 100%;
    height: 45px;
    font-size: 14px;
    font-weight: 300;
    border: 1px solid rgba(255, 255, 255, 0.51);
    color: #898989;
    background-color: transparent;
}
form #subscribebtn {
    background: url("../img/submit_logo.svg") no-repeat center;
    width: 70px;
    height: 45px;
    color: #ffffff;
    opacity: 0.5;
}

.itemsRight__bottom {
    display: flex;
    flex-direction: row;
}
.socialsIcon {
    width: 35px;
    margin: 3px;
}

.footerContent__meta {
    max-width: 940px;
    margin-top: 71px;
    display: flex;
    justify-content: space-between;
}
.footer__menu {
    list-style: none;
    display: flex;
}
.footer__menu__item {
    margin-right: 25px;
}
.footer__menu__item a{
    text-decoration: none;
}
.footer__menu__link {
    color: #ffffff;
    font-family: "Roboto - Black", Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
}
.footer__menu__link:hover {
    color: #00e0d0;
}
.footerContent__meta-copyright P {
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.35px;
}


@media (max-width: 850px) {
    .menu__item {
        margin-left: 10px;
    }
    h1 {
       font-size: 24px;
    }
    h2 {
        font-size: 20px;
    }
    .headerContent__circle {
        margin-top: 85px;
    }
    .aboutTitle__desc p {
        font-size: 12px;
        margin-top: 18px;
    }
    .aboutTitle__logo {
        margin-top: 50px;
    }
    .expertise {
        height: 650px;
    }
    .expertiseTitle {
        margin-top: 33px;
    }
    .expertiseTitle p {
        font-size: 12px;
        margin-top: 13px;
    }
    .expertiseTitle:after {
        top: 75px;
    }
    .expertiseContent {
        margin-top: 35px;
    }
    .expertiseTable {
        margin: 28px 18px;
    }
    .expertiseTable h3 {
        font-size: 13px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .expertiseTable p {
        font-size: 11px;
    }
    .teams {
        height: 620px;
    }
    .teamsContent {
        margin: 45px 0 45px;
    }
    .teamsContent__card {
        margin-top: 50px;
    }
    .teamsContent__card:before {
        top: -27px;
    }
    .teamMember {
        height: 270px;
    }
    .teamMember img {
        height: 190px;
    }
    .teamMember h3 {
        margin-top: 16px;
    }
    .teamsContent__footer {
        margin-top: 25px;
    }
    .works {
        height: 420px;
        margin-top: 40px;
    }
    .worksContent {
        margin-top: 40px;
    }
    .works .button {
        margin: 40px 0 40px;
    }
    .peoplesay {
        height: 440px;
    }
    .peoplesayContent {
        margin: 21px 20px 0;
    }
    .peoplesayContent-top {
        width: 25px;
        margin-bottom: 25px;
    }
    .peoplesayContent__text p {
        font-size: 14px;
        margin-bottom: 35px;
    }
    .peoplesayContent__text h4 {
        margin-top: 8px;
    }
    .peoplesayContent__people {
        margin-top: 30px;
    }
    .contact {
        height: 600px;
    }
    .contactContent {
        margin: 45px 20px 0;
        height: auto;
    }
    .contactContent__client {
        margin-left: 35px;
    }
    footer {
        height: 300px;
    }
    .footerContent {
        padding-top: 25px;
    }
    .footerContent__items {
        height: 200px;
    }
    .itemsLeft__top img {
        margin-bottom: 10px;
    }
    .itemsLeft__bottom p {
        font-size: 12px;
        line-height: 20px;
    }
    .itemsCenter__center {
        margin-top: 22px;
    }
    .contactAdress {
        font-size: 12px;
        line-height: 17px;
    }
    .itemsCenter__bottom {
        margin-top: 6px;
    }
    .itemsRight {
        max-height: 160px;
    }
    .itemsRight__center {
        margin-top: 0;
    }
    .footerContent__meta {
        margin-top: 28px;
    }



}

@media (max-width: 570px) {
    .aboutTitle__logo {
        margin-top: 120px;
        margin-right: 40px;
    }
    .aboutTitle__desc a {
        margin-left: 15px;
    }
    .teams {
        height: 510px;
    }
    .teamMember {
        height: 180px;
    }
    .teamMember img {
        height: 118px;
    }
    .teamMember h3 {
        margin-top: 6px;
        font-size: 12px;
    }
    .teamMember p {
        font-size: 10px;
        margin-top: 5px;
    }
    .works {
        margin-top: 20px;
        height: 290px;
    }
    .worksTitle {
        width: 70%;
    }
    .worksTitle h2 {
        font-size: 16px;
    }
    .worksTitle p {
        font-size: 12px;
    }
    .worksContent {
        margin-top: 20px;
    }
    .works .button {
        margin: 20px 0 20px;
    }
    .peoplesayContent-top {
        margin-bottom: 15px;
    }
    .peoplesayContent__text p {
        font-size: 12px;
        margin-bottom: 20px;

    }
    .peoplesayContent__text h3 {
        font-size: 12px;
    }
    .peoplesayContent__text h4 {
        font-size: 10px;
        margin-top: 0;
    }
    .contact {
        height: 410px;
    }
    .contactContent {
        margin: 30px 20px 0;
    }
    form h2 {
        margin-left: 4px;
        margin-bottom: 10px;
        font-size: 16px;
    }
    form .row {
        padding: 0 0;
    }
    form .txt {
        padding: 5px 5px;
        font-size: 12px;
    }
    form .txtarea {
        font-size: 12px;
        max-height: 150px;
    }
    .contactContent__client {
        margin-left: 30px;
    }
    .contactContent__client h2 {
        margin-bottom: 0;
    }
    .itemsLeft {
        margin-right: 10px;
    }
    .itemsLeft__top img {
        width: 80px;
    }
    .itemsLeft__bottom p {
        font-size: 10px;
        line-height: 18px;
    }
    footer {
        height: 260px;
    }
    .footerSubtitle {
        font-size: 13px;
    }
    .itemsCenter__center {
        margin-top: 10px;
    }
    .contactAdress {
        font-size: 10px;
    }
    .itemsCenter__bottom {
        margin-top: 2px;
    }
    .itemsRight {
        height: 142px;
    }
    form .subscribetxt {
        height: 30px;
        font-size: 10px;
    }
    form #subscribebtn {
        width: 45px;
        height: 30px;
    }
    .footerContent__meta {
        margin-top: 0;
    }
    .footer__menu__item {
        margin-right: 10px;
    }
    .footer__menu__link {
        font-size: 10px;
    }
    .footerContent__meta-copyright P {
        font-size: 10px;
    }


}
@media (max-width: 470px) {
    .expertiseTable p {
        line-height: 18px;
    }
    .expertiseTable {
        margin: 15px 10px;
    }
}
@media (max-width: 420px) {
    .headerContent {
        margin-top: 50px;
        margin-bottom: 40px;
    }
    h1 {
        font-size: 22px;
    }
    .headerContent__text {
        font-size: 16px;
        line-height: 22px;
    }
    .aboutTitle {
        margin-top: 30px;
        margin-bottom: 40px;
    }
    h2 {
        font-size: 18px;
    }
    .aboutTitle__desc p {
        font-size: 10px;
    }
    .aboutTitle__desc a {
        margin-top: 20px;
    }
    .aboutTitle__logo {
        margin-right: 20px;
    }
    .aboutVideo {
        height: 400px;
    }
    .expertise {
        height: 460px;
    }
    .expertiseTitle {
        margin-top: 20px;
    }
    .expertiseTitle p {
        font-size: 11px;
        margin-top: 6px;
    }
    .expertiseTitle:after {
        left: 42%;
    }
    .expertiseTable {
        margin: 10px 3px;
    }
    .expertiseTable img {
        height: 30px;
    }
    .expertiseTable h3 {
        font-size: 11px;
        margin-top: 5px;
        margin-bottom: 10px;
    }
    .expertiseTable p {
        line-height: 12px;
        font-size: 10px;
    }

    .teamMember {
        margin: 2px;
        height: 145px;
    }
    .teamMember img {
        height: 90px;
    }
    .teamMember h3 {
        font-size: 10px;
    }
    .teamsContent p {
        font-size: 11px;
    }
    .teamMember p {
        font-size: 8px;
    }
    .teamsContent h2 {
        font-size: 16px;
        margin-bottom: 14px;
    }
    .teamsContent__card:before {
        left: 42%;
    }

    .works {
        height: 220px;
    }
    .worksTitle h2 {
        font-size: 12px;
    }
    .worksTitle p {
        font-size: 10px;
    }

    .peoplesayContent {
        margin: 5px 20px 0;
    }
    .peoplesayContent__text p {
        font-size: 11px;
        line-height: 20px;

    }

    form #submitbtn {
        margin-left: 0;
    }
    form h2 {
        font-size: 14px;
    }
    .contactContent__client h2 {
        font-size: 14px;
    }
    footer {
        height: auto;
    }
    .footerSubtitle {
        font-size: 12px;
    }
    form .subscribeRow {
        margin-right: 5px;
    }
    .footerContent__items {
        max-width: 300px;
        margin-right: 10px;
        height: auto;
    }
    .footerContent__meta {
        margin-top: 15px;
    }
        .itemsLeft {
        display: none;
    }
    .itemsCenter {
        width: 47%;
    }
    .itemsRight {
        width: 47%;
    }
    .footer__menu__item {
        margin-right: 5px;
    }
    .footer__menu__link {
        font-size: 8px;
    }
    .footerContent__meta-copyright P {
        font-size: 8px;
    }

}







    @media screen and ( max-width: 660px ) {
    .headerNavbar__nav:hover .menu {
        display: block;
    }
    .headerNavbar__nav:hover .burgerMenu {
        display: none;
    }
    .menu {
        display: none;
    }
    .burgerMenu {
        display:inline-block;
    }

}



img {
    width: 100%;
    height: auto;
}






